# Chapter 3. Built-In Data Structures, Functions, and Files

This chapter discusses capabilities built into the Python language that will be used ubiquitously throughout the book. While add-on libraries like pandas and NumPy add advanced computational functionality for larger datasets, they are designed to be used together with Python’s built-in data manipulation tools.

We’ll start with Python’s workhorse data structures: tuples, lists, dictionaries, and sets. Then, we’ll discuss creating your own reusable Python functions. Finally, we’ll look at the mechanics of Python file objects and interacting with your local hard drive.

# 3.1 Data Structures and Sequences

Python’s data structures are simple but powerful. Mastering their use is a critical part of becoming a proficient Python programmer. We start with tuple, list, and dictionary, which are some of the most frequently used sequence types.

## Tuple

A tuple is a fixed-length, immutable sequence of Python objects which, once assigned, cannot be changed. The easiest way to create one is with a comma-separated sequence of values wrapped in parentheses:

In [12]:
tup = (4, 5, 6)

In [14]:
tup

(4, 5, 6)

In many contexts, the parentheses can be omitted, so here we could also have written:

In [17]:
tup = 4, 5, 6

In [19]:
tup

(4, 5, 6)

You can convert any sequence or iterator to a tuple by invoking tuple:

In [22]:
tuple([4, 0, 2])

(4, 0, 2)

In [24]:
tup = tuple('string')

In [26]:
tup

('s', 't', 'r', 'i', 'n', 'g')

Elements can be accessed with square brackets [] as with most other sequence types. As in C, C++, Java, and many other languages, sequences are 0-indexed in Python:

In [29]:
tup[0]

's'

When you’re defining tuples within more complicated expressions, it’s often necessary to enclose the values in parentheses, as in this example of creating a tuple of tuples:

In [32]:
nested_tup = (4, 5, 6), (7, 8)

In [34]:
nested_tup

((4, 5, 6), (7, 8))

In [36]:
nested_tup[0]

(4, 5, 6)

In [38]:
nested_tup[1]

(7, 8)

While the objects stored in a tuple may be mutable themselves, once the tuple is created it’s not possible to modify which object is stored in each slot:

In [41]:
tup = tuple(['foo', [1, 2], True])

In [43]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

If an object inside a tuple is mutable, such as a list, you can modify it in place:

In [46]:
tup[1].append(3)

In [48]:
tup

('foo', [1, 2, 3], True)

You can concatenate tuples using the + operator to produce longer tuples:

In [51]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

Multiplying a tuple by an integer, as with lists, has the effect of concatenating that many copies of the tuple:

In [54]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

Note that the objects themselves are not copied, only the references to them.

## Unpacking tuples

If you try to assign to a tuple-like expression of variables, Python will attempt to unpack the value on the righthand side of the equals sign:

In [59]:
tup = (4, 5, 6)

In [61]:
a, b, c = tup

In [63]:
b

5

Even sequences with nested tuples can be unpacked:

In [66]:
tup = 4, 5, (6, 7)

In [68]:
a, b, (c, d) = tup

In [70]:
d

7

Using this functionality you can easily swap variable names, a task that in many languages might look like:

In [73]:
tmp = a
a = b
b = tmp

But, in Python, the swap can be done like this:

In [76]:
a, b = 1, 2

In [78]:
a

1

In [80]:
b

2

In [82]:
b, a = a, b

In [84]:
a

2

In [86]:
b

1

A common use of variable unpacking is iterating over sequences of tuples or lists:

In [89]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [91]:
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

Another common use is returning multiple values from a function. I’ll cover this in more detail later.

There are some situations where you may want to “pluck” a few elements from the beginning of a tuple. There is a special syntax that can do this, *rest, which is also used in function signatures to capture an arbitrarily long list of positional arguments:

In [95]:
values = 1, 2, 3, 4, 5

In [97]:
a, b, *rest = values

In [99]:
a

1

In [101]:
b

2

In [103]:
rest

[3, 4, 5]

This rest bit is sometimes something you want to discard; there is nothing special about the rest name. As a matter of convention, many Python programmers will use the underscore (_) for unwanted variables:

In [106]:
a, b, *_ = values

## Tuple methods

Since the size and contents of a tuple cannot be modified, it is very light on instance methods. A particularly useful one (also available on lists) is count, which counts the number of occurrences of a value:

In [110]:
a = (1, 2, 2, 2, 3, 4, 2)

In [112]:
a.count(2)

4

## List

In contrast with tuples, lists are variable length and their contents can be modified in place. Lists are mutable. You can define them using square brackets [] or using the list type function:

In [116]:
a_list = [2, 3, 7, None]

In [118]:
tup = ("foo", "bar", "baz")

In [120]:
b_list = list(tup)

In [122]:
b_list

['foo', 'bar', 'baz']

In [124]:
b_list[1] = "peekaboo"

In [126]:
b_list

['foo', 'peekaboo', 'baz']

Lists and tuples are semantically similar (though tuples cannot be modified) and can be used interchangeably in many functions.

The list built-in function is frequently used in data processing as a way to materialize an iterator or generator expression:

In [129]:
gen = range(10)

In [131]:
gen

range(0, 10)

In [133]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Adding and removing elements

Elements can be appended to the end of the list with the append method:

In [137]:
b_list.append("dwarf")

In [139]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

Using insert you can insert an element at a specific location in the list:

In [142]:
b_list.insert(1, "red")

In [144]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

The insertion index must be between 0 and the length of the list, inclusive.

Warning
insert is computationally expensive compared with append, because references to subsequent elements have to be shifted internally to make room for the new element. If you need to insert elements at both the beginning and end of a sequence, you may wish to explore collections.deque, a double-ended queue, which is optimized for this purpose and found in the Python Standard Library.

Warning
insert is computationally expensive compared with append, because references to subsequent elements have to be shifted internally to make room for the new element. If you need to insert elements at both the beginning and end of a sequence, you may wish to explore collections.deque, a double-ended queue, which is optimized for this purpose and found in the Python Standard Library.

In [149]:
b_list.pop(2)

'peekaboo'

In [151]:
b_list

['foo', 'red', 'baz', 'dwarf']

Elements can be removed by value with remove, which locates the first such value and removes it from the list:

In [154]:
b_list.append("foo")

In [156]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [158]:
b_list.remove("foo")

In [160]:
b_list

['red', 'baz', 'dwarf', 'foo']

If performance is not a concern, by using append and remove, you can use a Python list as a set-like data structure (although Python has actual set objects, discussed later).

Check if a list contains a value using the in keyword:

In [164]:
In [61]: "dwarf" in b_list
Out[61]: True

The keyword not can be used to negate in:

In [167]:
"dwarf" not in b_list

False

Checking whether a list contains a value is a lot slower than doing so with dictionaries and sets (to be introduced shortly), as Python makes a linear scan across the values of the list, whereas it can check the others (based on hash tables) in constant time.

## Concatenating and combining lists

Similar to tuples, adding two lists together with + concatenates them:

In [172]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

If you have a list already defined, you can append multiple elements to it using the extend method:

In [175]:
x = [4, None, "foo"]

In [177]:
x.extend([7, 8, (2, 3)])

In [179]:
x

[4, None, 'foo', 7, 8, (2, 3)]

Note that list concatenation by addition is a comparatively expensive operation since a new list must be created and the objects copied over. Using extend to append elements to an existing list, especially if you are building up a large list, is usually preferable. Thus:

In [182]:
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)

NameError: name 'list_of_lists' is not defined

is faster than the concatenative alternative:

In [185]:
everything = []
for chunk in list_of_lists:
    everything = everything + chunk

NameError: name 'list_of_lists' is not defined

## Sorting

You can sort a list in place (without creating a new object) by calling its sort function:

In [189]:
In [67]: a = [7, 2, 5, 1, 3]

In [191]:
a.sort()

In [193]:
a

[1, 2, 3, 5, 7]

sort has a few options that will occasionally come in handy. One is the ability to pass a secondary sort key—that is, a function that produces a value to use to sort the objects. For example, we could sort a collection of strings by their lengths:

In [196]:
b = ["saw", "small", "He", "foxes", "six"]

In [198]:
b.sort(key=len)

In [200]:
b

['He', 'saw', 'six', 'small', 'foxes']

Soon, we’ll look at the sorted function, which can produce a sorted copy of a general sequence.

## Slicing

You can select sections of most sequence types by using slice notation, which in its basic form consists of start:stop passed to the indexing operator []:

In [205]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [207]:
seq[1:5]

[2, 3, 7, 5]

Slices can also be assigned with a sequence:

In [210]:
seq[3:5] = [6, 3]

In [212]:
seq

[7, 2, 3, 6, 3, 6, 0, 1]

While the element at the start index is included, the stop index is not included, so that the number of elements in the result is stop - start.

Either the start or stop can be omitted, in which case they default to the start of the sequence and the end of the sequence, respectively:

In [216]:
seq[:5]

[7, 2, 3, 6, 3]

In [218]:
seq[3:]

[6, 3, 6, 0, 1]

Negative indices slice the sequence relative to the end:

In [221]:
seq[-4:]

[3, 6, 0, 1]

In [223]:
seq[-6:-2]

[3, 6, 3, 6]

Slicing semantics takes a bit of getting used to, especially if you’re coming from R or MATLAB. See Figure 3-1 for a helpful illustration of slicing with positive and negative integers. In the figure, the indices are shown at the “bin edges” to help show where the slice selections start and stop using positive or negative indices.

![](pda3_0301.png)

A step can also be used after a second colon to, say, take every other element:

In [228]:
seq[::2]

[7, 3, 3, 0]

A clever use of this is to pass -1, which has the useful effect of reversing a list or tuple:

In [231]:
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

## Dictionary

The dictionary or dict may be the most important built-in Python data structure. In other programming languages, dictionaries are sometimes called hash maps or associative arrays. A dictionary stores a collection of key-value pairs, where key and value are Python objects. Each key is associated with a value so that a value can be conveniently retrieved, inserted, modified, or deleted given a particular key. One approach for creating a dictionary is to use curly braces {} and colons to separate keys and values:

In [235]:
empty_dict = {}

In [237]:
d1 = {"a": "some value", "b": [1, 2, 3, 4]}

In [239]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

You can access, insert, or set elements using the same syntax as for accessing elements of a list or tuple:

In [242]:
d1[7] = "an integer"

In [244]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [246]:
d1["b"]

[1, 2, 3, 4]

You can check if a dictionary contains a key using the same syntax used for checking whether a list or tuple contains a value:

In [249]:
"b" in d1

True

You can delete values using either the del keyword or the pop method (which simultaneously returns the value and deletes the key):

In [252]:
d1[5] = "some value"

In [254]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [256]:
d1["dummy"] = "another value"

In [258]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [260]:
del d1[5]

In [262]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [264]:
ret = d1.pop("dummy")

In [266]:
ret

'another value'

In [268]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

The keys and values method gives you iterators of the dictionary’s keys and values, respectively. The order of the keys depends on the order of their insertion, and these functions output the keys and values in the same respective order:

In [271]:
list(d1.keys())

['a', 'b', 7]

In [273]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

If you need to iterate over both the keys and values, you can use the items method to iterate over the keys and values as 2-tuples:

In [276]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

You can merge one dictionary into another using the update method:

In [279]:
d1.update({"b": "foo", "c": 12})

In [281]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

The update method changes dictionaries in place, so any existing keys in the data passed to update will have their old values discarded.

## Creating dictionaries from sequences

It’s common to occasionally end up with two sequences that you want to pair up element-wise in a dictionary. As a first cut, you might write code like this:

In [286]:
mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

NameError: name 'key_list' is not defined

Since a dictionary is essentially a collection of 2-tuples, the dict function accepts a list of 2-tuples:

In [289]:
tuples = zip(range(5), reversed(range(5)))

In [291]:
tuples

In [293]:
mapping = dict(tuples)

In [295]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

Later we’ll talk about dictionary comprehensions, which are another way to construct dictionaries.

## Default values

It’s common to have logic like:

In [300]:
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

NameError: name 'key' is not defined

Thus, the dictionary methods get and pop can take a default value to be returned, so that the above if-else block can be written simply as:

In [303]:
value = some_dict.get(key, default_value)

NameError: name 'some_dict' is not defined

get by default will return None if the key is not present, while pop will raise an exception. With setting values, it may be that the values in a dictionary are another kind of collection, like a list. For example, you could imagine categorizing a list of words by their first letters as a dictionary of lists:

In [306]:
words = ["apple", "bat", "bar", "atom", "book"]

In [308]:
by_letter = {}

In [310]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [312]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

The setdefault dictionary method can be used to simplify this workflow. The preceding for loop can be rewritten as:

In [315]:
by_letter = {}

In [317]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [319]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

The built-in collections module has a useful class, defaultdict, which makes this even easier. To create one, you pass a type or function for generating the default value for each slot in the dictionary:

In [322]:
from collections import defaultdict

In [324]:
by_letter = defaultdict(list)

In [326]:
for word in words:
    by_letter[word[0]].append(word)

## Valid dictionary key types

While the values of a dictionary can be any Python object, the keys generally have to be immutable objects like scalar types (int, float, string) or tuples (all the objects in the tuple need to be immutable, too). The technical term here is hashability. You can check whether an object is hashable (can be used as a key in a dictionary) with the hash function:

In [330]:
hash("string")

-7569306249035731662

In [332]:
hash((1, 2, (2, 3)))

-9209053662355515447

In [334]:
hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

The hash values you see when using the hash function in general will depend on the Python version you are using.

To use a list as a key, one option is to convert it to a tuple, which can be hashed as long as its elements also can be:

In [338]:
d = {}

In [340]:
d[tuple([1, 2, 3])] = 5

In [342]:
d

{(1, 2, 3): 5}

## Set

A set is an unordered collection of unique elements. A set can be created in two ways: via the set function or via a set literal with curly braces:

In [346]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [348]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

Sets support mathematical set operations like union, intersection, difference, and symmetric difference. Consider these two example sets:

In [351]:
a = {1, 2, 3, 4, 5}

In [353]:
b = {3, 4, 5, 6, 7, 8}

The union of these two sets is the set of distinct elements occurring in either set. This can be computed with either the union method or the | binary operator:

In [356]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [358]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

The intersection contains the elements occurring in both sets. The & operator or the intersection method can be used:

In [361]:
a.intersection(b)

{3, 4, 5}

In [363]:
a & b

{3, 4, 5}

See Table 3-1 for a list of commonly used set methods.

## Table 3-1. Python set operations

|Function|Alternative syntax|Description|
|---|---|---|
|a.add(x)|N/A|Add element x to set a|
|a.clear()|N/A|Reset set a to an empty state, discarding all of its elements|
|a.remove(x)|N/A|	Remove element x from set a|
|a.pop()|N/A|	Remove an arbitrary element from set a, raising KeyError if the set is empty|
|a.union(b)|a \| b|	All of the unique elements in a and b|
|a.update(b)|a \|= b|	Set the contents of a to be the union of the elements in a and b|
|a.intersection(b)|a & b|	All of the elements in both a and b|
|a.intersection_update(b)|	a &= b|	Set the contents of a to be the intersection of the elements in a and b|
|a.difference(b)|a - b|	The elements in a that are not in b|
|a.difference_update(b)|a -= b|	Set a to the elements in a that are not in b|
|a.symmetric_difference(b)|	a ^ b|	All of the elements in either a or b but not both|
|a.symmetric_difference_update(b)|	a ^= b|	Set a to contain the elements in either a or b but not both|
|a.issubset(b)|<=|True if the elements of a are all contained in b|
|a.issuperset(b)|>=|True if the elements of b are all contained in a|
|a.isdisjoint(b)|N/A|True if a and b have no elements in common|

### Note
If you pass an input that is not a set to methods like union and intersection, Python will convert the input to a set before executing the operation. When using the binary operators, both objects must already be sets.

All of the logical set operations have in-place counterparts, which enable you to replace the contents of the set on the left side of the operation with the result. For very large sets, this may be more efficient:

In [369]:
c = a.copy()

In [371]:
c |= b

In [373]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [375]:
d = a.copy()

In [377]:
d &= b

In [379]:
d

{3, 4, 5}

Like dictionary keys, set elements generally must be immutable, and they must be hashable (which means that calling hash on a value does not raise an exception). In order to store list-like elements (or other mutable sequences) in a set, you can convert them to tuples:

In [382]:
my_data = [1, 2, 3, 4]

In [384]:
my_set = {tuple(my_data)}

In [386]:
my_set

{(1, 2, 3, 4)}

You can also check if a set is a subset of (is contained in) or a superset of (contains all elements of) another set:

In [389]:
a_set = {1, 2, 3, 4, 5}

In [391]:
{1, 2, 3}.issubset(a_set)

True

In [393]:
a_set.issuperset({1, 2, 3})

True

Sets are equal if and only if their contents are equal:

In [396]:
{1, 2, 3} == {3, 2, 1}

True

## Built-In Sequence Functions

Python has a handful of useful sequence functions that you should familiarize yourself with and use at any opportunity.

In [400]:
index = 0
for value in collection:
   # do something with value
   index += 1

NameError: name 'collection' is not defined

Since this is so common, Python has a built-in function, enumerate, which returns a sequence of (i, value) tuples:

In [403]:
for index, value in enumerate(collection):
   # do something with value

SyntaxError: incomplete input (2181866544.py, line 2)

## sorted

The sorted function returns a new sorted list from the elements of any sequence:

In [407]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [409]:
sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

The sorted function accepts the same arguments as the sort method on lists.

## zip

zip “pairs” up the elements of a number of lists, tuples, or other sequences to create a list of tuples:

In [414]:
seq1 = ["foo", "bar", "baz"]

In [416]:
seq2 = ["one", "two", "three"]

In [418]:
zipped = zip(seq1, seq2)

In [420]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

zip can take an arbitrary number of sequences, and the number of elements it produces is determined by the shortest sequence:

In [423]:
seq3 = [False, True]

In [425]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

A common use of zip is simultaneously iterating over multiple sequences, possibly also combined with enumerate:

In [428]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

## reversed

reversed iterates over the elements of a sequence in reverse order:

In [432]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Keep in mind that reversed is a generator (to be discussed in some more detail later), so it does not create the reversed sequence until materialized (e.g., with list or a for loop).

## List, Set, and Dictionary Comprehensions

List comprehensions are a convenient and widely used Python language feature. They allow you to concisely form a new list by filtering the elements of a collection, transforming the elements passing the filter into one concise expression. They take the basic form:

In [437]:
[expr for value in collection if condition]

NameError: name 'collection' is not defined

This is equivalent to the following for loop:

In [440]:
result = []
for value in collection:
    if condition:
        result.append(expr)

NameError: name 'collection' is not defined

The filter condition can be omitted, leaving only the expression. For example, given a list of strings, we could filter out strings with length 2 or less and convert them to uppercase like this:

In [443]:
strings = ["a", "as", "bat", "car", "dove", "python"]

In [445]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

Set and dictionary comprehensions are a natural extension, producing sets and dictionaries in an idiomatically similar way instead of lists.

A dictionary comprehension looks like this:

In [449]:
dict_comp = {key-expr: value-expr for value in collection
             if condition}

NameError: name 'collection' is not defined

A set comprehension looks like the equivalent list comprehension except with curly braces instead of square brackets:

In [452]:
set_comp = {expr for value in collection if condition}

NameError: name 'collection' is not defined

Like list comprehensions, set and dictionary comprehensions are mostly conveniences, but they similarly can make code both easier to write and read. Consider the list of strings from before. Suppose we wanted a set containing just the lengths of the strings contained in the collection; we could easily compute this using a set comprehension:

In [455]:
unique_lengths = {len(x) for x in strings}

In [457]:
unique_lengths

{1, 2, 3, 4, 6}

We could also express this more functionally using the map function, introduced shortly:

In [460]:
set(map(len, strings))

{1, 2, 3, 4, 6}

As a simple dictionary comprehension example, we could create a lookup map of these strings for their locations in the list:

In [463]:
loc_mapping = {value: index for index, value in enumerate(strings)}

In [465]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

## Nested list comprehensions

Suppose we have a list of lists containing some English and Spanish names:

In [469]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
    ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

Suppose we wanted to get a single list containing all names with two or more a’s in them. We could certainly do this with a simple for loop:

In [472]:
names_of_interest = []

In [474]:
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)

In [476]:
names_of_interest

['Maria', 'Natalia']

You can actually wrap this whole operation up in a single nested list comprehension, which will look like:

In [479]:
result = [name for names in all_data for name in names
    if name.count("a") >= 2]

In [481]:
result

['Maria', 'Natalia']

At first, nested list comprehensions are a bit hard to wrap your head around. The for parts of the list comprehension are arranged according to the order of nesting, and any filter condition is put at the end as before. Here is another example where we “flatten” a list of tuples of integers into a simple list of integers:

In [484]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [486]:
flattened = [x for tup in some_tuples for x in tup]

In [488]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Keep in mind that the order of the for expressions would be the same if you wrote a nested for loop instead of a list comprehension:

In [491]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

You can have arbitrarily many levels of nesting, though if you have more than two or three levels of nesting, you should probably start to question whether this makes sense from a code readability standpoint. It’s important to distinguish the syntax just shown from a list comprehension inside a list comprehension, which is also perfectly valid:

In [494]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

This produces a list of lists, rather than a flattened list of all of the inner elements.

# 3.2 Functions

Functions are the primary and most important method of code organization and reuse in Python. As a rule of thumb, if you anticipate needing to repeat the same or very similar code more than once, it may be worth writing a reusable function. Functions can also help make your code more readable by giving a name to a group of Python statements.

Functions are declared with the def keyword. A function contains a block of code with an optional use of the return keyword:

In [493]:
def my_function(x, y):
    return x + y

When a line with return is reached, the value or expression after return is sent to the context where the function was called, for example:

In [496]:
my_function(1, 2)

3

In [498]:
result = my_function(1, 2)

In [500]:
result

3

There is no issue with having multiple return statements. If Python reaches the end of a function without encountering a return statement, None is returned automatically. For example:

In [503]:
def function_without_return(x):
    print(x)

In [505]:
result = function_without_return("hello!")

hello!

In [507]:
print(result)

None

Each function can have positional arguments and keyword arguments. Keyword arguments are most commonly used to specify default values or optional arguments. Here we will define a function with an optional z argument with the default value 1.5:

In [510]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

While keyword arguments are optional, all positional arguments must be specified when calling a function.

You can pass values to the z argument with or without the keyword provided, though using the keyword is encouraged:

In [514]:
my_function2(5, 6, z=0.7)

0.06363636363636363

In [516]:
my_function2(3.14, 7, 3.5)

35.49

In [518]:
my_function2(10, 20)

45.0

The main restriction on function arguments is that the keyword arguments must follow the positional arguments (if any). You can specify keyword arguments in any order. This frees you from having to remember the order in which the function arguments were specified. You need to remember only what their names are.

## Namespaces, Scope, and Local Functions

Functions can access variables created inside the function as well as those outside the function in higher (or even global) scopes. An alternative and more descriptive name describing a variable scope in Python is a namespace. Any variables that are assigned within a function by default are assigned to the local namespace. The local namespace is created when the function is called and is immediately populated by the function’s arguments. After the function is finished, the local namespace is destroyed (with some exceptions that are outside the purview of this chapter). Consider the following function:

In [523]:
def func():
    a = []
    for i in range(5):
        a.append(i)

When func() is called, the empty list a is created, five elements are appended, and then a is destroyed when the function exits. Suppose instead we had declared a as follows:

In [536]:
a = []

In [538]:
def func():
    for i in range(5):
        a.append(i)

Each call to func will modify list a:

In [541]:
func()

In [543]:
a

[0, 1, 2, 3, 4]

In [545]:
func()

In [547]:
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

Assigning variables outside of the function’s scope is possible, but those variables must be declared explicitly using either the global or nonlocal keywords:

In [556]:
a = None

In [558]:
def bind_a_variable():
    global a
    a = []

In [560]:
bind_a_variable()

In [562]:
print(a)

[]

nonlocal allows a function to modify variables defined in a higher-level scope that is not global. Since its use is somewhat esoteric (I never use it in this book), I refer you to the Python documentation to learn more about it.

Caution
I generally discourage use of the global keyword. Typically, global variables are used to store some kind of state in a system. If you find yourself using a lot of them, it may indicate a need for object-oriented programming (using classes).

## Returning Multiple Values

When I first programmed in Python after having programmed in Java and C++, one of my favorite features was the ability to return multiple values from a function with simple syntax. Here’s an example:

In [568]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

In [570]:
a, b, c = f()

In data analysis and other scientific applications, you may find yourself doing this often. What’s happening here is that the function is actually just returning one object, a tuple, which is then being unpacked into the result variables. In the preceding example, we could have done this instead:

In [573]:
return_value = f()

In this case, return_value would be a 3-tuple with the three returned variables. A potentially attractive alternative to returning multiple values like before might be to return a dictionary instead:

In [576]:
def f():
    a = 5
    b = 6
    c = 7
    return {"a" : a, "b" : b, "c" : c}

This alternative technique can be useful depending on what you are trying to do.

## Functions Are Objects

Since Python functions are objects, many constructs can be easily expressed that are difficult to do in other languages. Suppose we were doing some data cleaning and needed to apply a bunch of transformations to the following list of strings:

In [581]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
    "south   carolina##", "West virginia?"]

Anyone who has ever worked with user-submitted survey data has seen messy results like these. Lots of things need to happen to make this list of strings uniform and ready for analysis: stripping whitespace, removing punctuation symbols, and standardizing proper capitalization. One way to do this is to use built-in string methods along with the re standard library module for regular expressions:

In [584]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

The result looks like this:

In [587]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

An alternative approach that you may find useful is to make a list of the operations you want to apply to a particular set of strings:

In [590]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

Then we have the following:

In [593]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

A more functional pattern like this enables you to easily modify how the strings are transformed at a very high level. The clean_strings function is also now more reusable and generic.

You can use functions as arguments to other functions like the built-in map function, which applies a function to a sequence of some kind:

In [597]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

map can be used as an alternative to list comprehensions without any filter.

## Anonymous (Lambda) Functions

Python has support for so-called anonymous or lambda functions, which are a way of writing functions consisting of a single statement, the result of which is the return value. They are defined with the lambda keyword, which has no meaning other than “we are declaring an anonymous function”:

In [602]:
def short_function(x):
    return x * 2

In [604]:
equiv_anon = lambda x: x * 2

I usually refer to these as lambda functions in the rest of the book. They are especially convenient in data analysis because, as you’ll see, there are many cases where data transformation functions will take functions as arguments. It’s often less typing (and clearer) to pass a lambda function as opposed to writing a full-out function declaration or even assigning the lambda function to a local variable. Consider this example:

In [607]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

In [609]:
ints = [4, 0, 1, 5, 6]

In [611]:
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

You could also have written [x * 2 for x in ints], but here we were able to succinctly pass a custom operator to the apply_to_list function.

As another example, suppose you wanted to sort a collection of strings by the number of distinct letters in each string:

In [615]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

Here we could pass a lambda function to the list’s sort method:

In [618]:
strings.sort(key=lambda x: len(set(x)))

In [620]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

## Generators

Many objects in Python support iteration, such as over objects in a list or lines in a file. This is accomplished by means of the iterator protocol, a generic way to make objects iterable. For example, iterating over a dictionary yields the dictionary keys:

In [624]:
some_dict = {"a": 1, "b": 2, "c": 3}

In [626]:
for key in some_dict:
    print(key)

a
b
c

When you write for key in some_dict, the Python interpreter first attempts to create an iterator out of some_dict:

In [629]:
dict_iterator = iter(some_dict)

In [631]:
dict_iterator

An iterator is any object that will yield objects to the Python interpreter when used in a context like a for loop. Most methods expecting a list or list-like object will also accept any iterable object. This includes built-in methods such as min, max, and sum, and type constructors like list and tuple:

In [634]:
list(dict_iterator)

['a', 'b', 'c']

A generator is a convenient way, similar to writing a normal function, to construct a new iterable object. Whereas normal functions execute and return a single result at a time, generators can return a sequence of multiple values by pausing and resuming execution each time the generator is used. To create a generator, use the yield keyword instead of return in a function:

In [637]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

When you actually call the generator, no code is immediately executed:

In [640]:
gen = squares()

In [642]:
gen

It is not until you request elements from the generator that it begins executing its code:

In [645]:
for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

### Note
Since generators produce output one element at a time versus an entire list all at once, it can help your program use less memory.

## Generator expressions

Another way to make a generator is by using a generator expression. This is a generator analogue to list, dictionary, and set comprehensions. To create one, enclose what would otherwise be a list comprehension within parentheses instead of brackets:

In [650]:
gen = (x ** 2 for x in range(100))

In [652]:
gen

This is equivalent to the following more verbose generator:

In [655]:
def _make_gen():
    for x in range(100):
        yield x ** 2

In [657]:
gen = _make_gen()

Generator expressions can be used instead of list comprehensions as function arguments in some cases:

In [660]:
sum(x ** 2 for x in range(100))

328350

In [662]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

Depending on the number of elements produced by the comprehension expression, the generator version can sometimes be meaningfully faster.

## itertools module

The standard library itertools module has a collection of generators for many common data algorithms. For example, groupby takes any sequence and a function, grouping consecutive elements in the sequence by return value of the function. Here’s an example:

In [667]:
import itertools

In [669]:
def first_letter(x):
    return x[0]

In [671]:
names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

In [673]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

See Table 3-2 for a list of a few other itertools functions I’ve frequently found helpful. You may like to check out the official Python documentation for more on this useful built-in utility module.

### Table 3-2. Some useful itertools functions

|Function|Description|
|---|---|
|chain(*iterables)|Generates a sequence by chaining iterators together. Once elements from the first iterator are exhausted, elements from the next iterator are returned, and so on.|
|combinations(iterable, k)|Generates a sequence of all possible k-tuples of elements in the iterable, ignoring order and without replacement (see also the companion function combinations_with_replacement).|
|permutations(iterable, k)|Generates a sequence of all possible k-tuples of elements in the iterable, respecting order.|
|groupby(iterable[, keyfunc])|Generates (key, sub-iterator) for each unique key.|
|product(*iterables, repeat=1)|Generates the Cartesian product of the input iterables as tuples, similar to a nested for loop.|

## Errors and Exception Handling

Handling Python errors or exceptions gracefully is an important part of building robust programs. In data analysis applications, many functions work only on certain kinds of input. As an example, Python’s float function is capable of casting a string to a floating-point number, but it fails with ValueError on improper inputs:

In [681]:
float("1.2345")

1.2345

In [683]:
float("something")

ValueError: could not convert string to float: 'something'

Suppose we wanted a version of float that fails gracefully, returning the input argument. We can do this by writing a function that encloses the call to float in a try/except block (execute this code in IPython):

In [686]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

The code in the except part of the block will only be executed if float(x) raises an exception:

In [689]:
attempt_float("1.2345")

1.2345

In [691]:
attempt_float("something")

'something'

You might notice that float can raise exceptions other than ValueError:

In [694]:
float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

You might want to suppress only ValueError, since a TypeError (the input was not a string or numeric value) might indicate a legitimate bug in your program. To do that, write the exception type after except:

In [697]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

We have then:

In [700]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

You can catch multiple exception types by writing a tuple of exception types instead (the parentheses are required):

In [703]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In some cases, you may not want to suppress an exception, but you want some code to be executed regardless of whether or not the code in the try block succeeds. To do this, use finally:

In [706]:
f = open(path, mode="w")

try:
    write_to_file(f)
finally:
    f.close()

NameError: name 'path' is not defined

Here, the file object f will always get closed. Similarly, you can have code that executes only if the try: block succeeds using else:

In [709]:
f = open(path, mode="w")

try:
    write_to_file(f)
except:
    print("Failed")
else:
    print("Succeeded")
finally:
    f.close()

NameError: name 'path' is not defined

## Exceptions in IPython

If an exception is raised while you are %run-ing a script or executing any statement, IPython will by default print a full call stack trace (traceback) with a few lines of context around the position at each point in the stack:If an exception is raised while you are %run-ing a script or executing any statement, IPython will by default print a full call stack trace (traceback) with a few lines of context around the position at each point in the stack:

In [3]:
%run ../examples/ipython_bug.py

AssertionError:

Having additional context by itself is a big advantage over the standard Python interpreter (which does not provide any additional context). You can control the amount of context shown using the %xmode magic command, from Plain (same as the standard Python interpreter) to Verbose (which inlines function argument values and more). As you will see later in Appendix B, you can step into the stack (using the %debug or %pdb magics) after an error has occurred for interactive postmortem debugging.

# 3.3 Files and the Operating System

Most of this book uses high-level tools like pandas.read_csv to read data files from disk into Python data structures. However, it’s important to understand the basics of how to work with files in Python. Fortunately, it’s relatively straightforward, which is one reason Python is so popular for text and file munging.

To open a file for reading or writing, use the built-in open function with either a relative or absolute file path and an optional file encoding:

In [5]:
path = "../examples/segismundo.txt"

In [7]:
f = open(path, encoding="utf-8")

Here, I pass encoding="utf-8" as a best practice because the default Unicode encoding for reading files varies from platform to platform.

By default, the file is opened in read-only mode "r". We can then treat the file object f like a list and iterate over the lines like so:

In [11]:
for line in f:
    print(line)

Sueña el rico en su riqueza,

que más cuidados le ofrece;



sueña el pobre que padece

su miseria y su pobreza;



sueña el que a medrar empieza,

sueña el que afana y pretende,

sueña el que agravia y ofende,



y en el mundo, en conclusión,

todos sueñan lo que son,

aunque ninguno lo entiende.

The lines come out of the file with the end-of-line (EOL) markers intact, so you’ll often see code to get an EOL-free list of lines in a file like:

In [19]:
lines = [x.rstrip() for x in open(path, encoding="utf-8")]

lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

When you use open to create file objects, it is recommended to close the file when you are finished with it. Closing the file releases its resources back to the operating system:

In [17]:
f.close()

One of the ways to make it easier to clean up open files is to use the with statement:

In [21]:
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]

This will automatically close the file f when exiting the with block. Failing to ensure that files are closed will not cause problems in many small programs or scripts, but it can be an issue in programs that need to interact with a large number of files.

If we had typed f = open(path, "w"), a new file at examples/segismundo.txt would have been created (be careful!), overwriting any file in its place. There is also the "x" file mode, which creates a writable file but fails if the file path already exists. See Table 3-3 for a list of all valid file read/write modes.

### Table 3-3. Python file modes

|Mode|	Description|
|---|---|
|r|Read-only mode|
|w|Write-only mode; creates a new file (erasing the data for any file with the same name)|
|x|Write-only mode; creates a new file but fails if the file path already exists|
|a|Append to existing file (creates the file if it does not already exist)|
|r+|Read and write|
|b|Add to mode for binary files (i.e., "rb" or "wb")|
|t|Text mode for files (automatically decoding bytes to Unicode); this is the default if not specified|

For readable files, some of the most commonly used methods are read, seek, and tell. read returns a certain number of characters from the file. What constitutes a “character” is determined by the file encoding or simply raw bytes if the file is opened in binary mode:

In [23]:
f1 = open(path)

In [25]:
f1.read(10)

'Sueña el r'

In [27]:
f2 = open(path, mode="rb")  # Binary mode

In [29]:
f2.read(10)

b'Sue\xc3\xb1a el '

The read method advances the file object position by the number of bytes read. tell gives you the current position:

In [32]:
f1.tell()

11

In [34]:
f2.tell()

10

Even though we read 10 characters from the file f1 opened in text mode, the position is 11 because it took that many bytes to decode 10 characters using the default encoding. You can check the default encoding in the sys module:

In [37]:
import sys
sys.getdefaultencoding()

'utf-8'

To get consistent behavior across platforms, it is best to pass an encoding (such as encoding="utf-8", which is widely used) when opening files.

seek changes the file position to the indicated byte in the file:

In [43]:
f1.seek(3)

f1.read(1)

f1.tell()

5

Lastly, we remember to close the files:

In [46]:
f1.close()
f2.close()

To write text to a file, you can use the file’s write or writelines methods. For example, we could create a version of examples/segismundo.txt with no blank lines like so:

In [49]:
path

with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open("tmp.txt") as f:
    lines = f.readlines()

lines

['Sueña el rico en su riqueza,\n',
 'que más cuidados le ofrece;\n',
 'sueña el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueña el que a medrar empieza,\n',
 'sueña el que afana y pretende,\n',
 'sueña el que agravia y ofende,\n',
 'y en el mundo, en conclusión,\n',
 'todos sueñan lo que son,\n',
 'aunque ninguno lo entiende.\n']

See Table 3-4 for many of the most commonly used file methods.

### Table 3-4. Important Python file methods or attributes

|Method/attribute|Description|
|---|---|
|read([size])|Return data from file as bytes or string depending on the file mode, with optional size argument indicating the number of bytes or string characters to read|
|readable()|Return True if the file supports read operations|
|readlines([size])|Return list of lines in the file, with optional size argument|
|write(string)|Write passed string to file|
|writable()|Return True if the file supports write operations|
|writelines(strings)|Write passed sequence of strings to the file|
|close()|Close the file object|
|flush()|Flush the internal I/O buffer to disk|
|seek(pos)|Move to indicated file position (integer)|
|seekable()|Return True if the file object supports seeking and thus random access (some file-like objects do not)|
|tell()|Return current file position as integer|
|closed|True if the file is closed|
|encoding|The encoding used to interpret bytes in the file as Unicode (typically UTF-8)|

## Bytes and Unicode with Files

The default behavior for Python files (whether readable or writable) is text mode, which means that you intend to work with Python strings (i.e., Unicode). This contrasts with binary mode, which you can obtain by appending b to the file mode. Revisiting the file (which contains non-ASCII characters with UTF-8 encoding) from the previous section, we have:

In [55]:
with open(path) as f:
    chars = f.read(10)

In [57]:
chars

'Sueña el r'

In [59]:
len(chars)

10

UTF-8 is a variable-length Unicode encoding, so when I request some number of characters from the file, Python reads enough bytes (which could be as few as 10 or as many as 40 bytes) from the file to decode that many characters. If I open the file in "rb" mode instead, read requests that exact number of bytes:

In [61]:
with open(path, mode="rb") as f:
    data = f.read(10)

In [63]:
data

b'Sue\xc3\xb1a el '

Depending on the text encoding, you may be able to decode the bytes to a str object yourself, but only if each of the encoded Unicode characters is fully formed:

In [66]:
data.decode("utf-8")

'Sueña el '

In [68]:
data[:4].decode("utf-8")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

Text mode, combined with the encoding option of open, provides a convenient way to convert from one Unicode encoding to another:

In [71]:
sink_path = "sink.txt"

with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())

with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

Sueña el r

Beware using seek when opening files in any mode other than binary. If the file position falls in the middle of the bytes defining a Unicode character, then subsequent reads will result in an error:

In [74]:
f = open(path, encoding='utf-8')

In [76]:
f.read(5)

'Sueña'

In [78]:
f.seek(4)

4

In [80]:
f.read(1)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte

If you find yourself regularly doing data analysis on non-ASCII text data, mastering Python’s Unicode functionality will prove valuable. See Python’s online documentation for much more.

# 3.4 Conclusion

With some of the basics of the Python environment and language now under your belt, it is time to move on and learn about NumPy and array-oriented computing in Python.